.page-not-found {
  width: 100vw;
  height: 100vh;
  @include flexCenter(column);
  background-color: $primary-gray;

  a {
    text-decoration: underline;
    color: $secondary-blue;
  }
}

@include respond-to("medium") {
}
@include respond-to("large") {
}
