.themeToggler {
  @include respond-to("medium") {
    margin-left: 2rem;
  }
  i {
    opacity: 0.7;
    font-size: 2rem;
    color: var(--primary-yellow-color);
    padding: 0.5rem;
    border-radius: 25%;
  }

  &:hover i {
    opacity: 1;
  }
}
