.container {
  width: 100vw;
  min-height: 101vh;
  position: relative;
}

.content {
  overflow: hidden;
  padding: 0 1.5rem;
  @include flexCenter(column, space-between);
  color: var(--primary-gray-color);
  min-height: 5%;
  width: 100vw;
  position: absolute;
  top: 5%;

  @include respond-to("medium") {
    min-height: 15%;
  }
  & * {
    text-align: center;
  }
  .title {
    font-family: var(--special-font);
  }
}

// Arrow
.scrollDown {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=)
    no-repeat transparent;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 85%;
  left: calc(50% - 2.5rem);
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
  animation: fade-downwards 2s ease-in-out infinite;

  @include respond-to("large") {
    top: 87%;
  }
}

// TODO: Turn it into general style

@keyframes fade-downwards {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
