/* Fonts */
h1 {
  font-size: 4rem;
  letter-spacing: 0.8rem;
}

h2 {
  font-size: 3rem;
  font-family: var(--secondary-font);
  transition: color 0.3s ease;
}

h3 {
  font-size: 2.2rem;
  transition: color 0.3s ease;
}
h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  font-family: var(--primary-font);
}

p {
  font-size: 1.7rem;
  color: var(--secondary-black-color);
  transition: color 0.3s ease;
}
